Source: libblikistan-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: lukec <lukec@talc.socialtext.net>
Standards-Version: 3.6.1

Package: libblikistan-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libsocialtext-resting-perl, libsocialtext-resting-utils-perl, libtemplate-perl, libhtml-scrubber-perl
Description:  Create a website from content in a wiki
