Source: libsocialtext-orrick-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: lukec <lukec@talc.socialtext.net>
Standards-Version: 3.6.1

Package: libsocialtext-orrick-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libblikistan-perl
Description: Orrick Homepage and Blog generating tools
