body {
    background: #eee;
    margin: 0;
}

/* Wiki Navigation */

#st-wiki-nav {
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
}
#st-wiki-nav-content {
    background: url("/images/st/wiki-nav/solid.gif") repeat-x left bottom;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 3px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 24px;
}

#st-wiki-nav-right {
    background: url("/images/st/wiki-nav/right-round.gif") no-repeat bottom right;
}

#st-wiki-nav-left {
    background: url("/images/st/wiki-nav/left-round.gif") no-repeat bottom left;
}

#st-home {
    float: left;
    margin-right: 60px;
    padding-top: 2px;
}

#st-home-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 80%;
}

#st-wiki-nav-invite {
    font-weight: bold;
}

#st-wiki-nav-actions {
    float: right;
    color: black;
    font-size: 75%;
    padding-top: 3px;
}

#st-wiki-nav-actions a {
    padding: 2px;
    color: white;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

/* Wiki Navigation Search Bar */

#st-search-form {
    margin: 0;
    padding: 0;
    padding-top: 1px;
}

#st-search-form .button-table {
    float: left;
    font-size: 79%;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 1px;
}

#st-search-form #st-search-term {
    float: left;
    font-size: 60%;
}

/* Content Outline */

#st-content-border {
    clear: both;
    margin-left: 3px;
    margin-right: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#st-content-border-left {
    background: url("/images/st/page-shadow/left.gif") left top repeat-y;
}

#st-content-border-right {
    background: url("/images/st/page-shadow/right.gif") right top repeat-y;
}

#st-content-border-top {
    background: url("/images/st/page-shadow/top.gif") left top repeat-x;
}

#st-content-border-bottom {
    background: url("/images/st/page-shadow/bottom.gif") left bottom repeat-x;
}
#st-content-border-left-top {
    background: url("/images/st/page-shadow/left-top.gif") left top no-repeat;
}

#st-content-border-right-top {
    background: url("/images/st/page-shadow/right-top.gif") right top no-repeat;
}

#st-content-border-left-bottom {
    background: url("/images/st/page-shadow/left-bottom.gif") left bottom no-repeat;
}

#st-content-border-right-bottom {
    background: url("/images/st/page-shadow/right-bottom.gif") right bottom no-repeat;
    padding-top: 5px;
    padding-bottom: 9px;
}


.st-content {
    background-color: white;
    margin-top: 0px;
    margin-left: 7px;
    margin-right: 8px;
    margin-bottom: 0px;
    border: 1px solid #80a9f3;
    padding: 12px;
}

/* Action Buttons */
.button-table, .button-table tr td {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
.button-rounded {
    background: url('/images/st/grey-button/left-top-rounded.png') top left no-repeat;
    margin: 0;
}
.button-rounded-right-top {
    background: url('/images/st/grey-button/right-top-rounded.png') top right no-repeat;
    margin: 0;
}
.button-rounded-left-bottom {
    background: url('/images/st/grey-button/left-bottom-rounded.png') bottom left no-repeat;
    margin: 0;
}
.button-rounded-right-bottom {
    background: url('/images/st/grey-button/right-bottom-rounded.png') bottom right no-repeat;
    margin: 0;
}
.button-straight {
    background: url('/images/st/grey-button/left-top-straight.png') top left no-repeat;
    margin: 0;
}
.button-straight-right-top {
    background: url('/images/st/grey-button/right-top-straight.png') top right no-repeat;
    margin: 0;
}
.button-straight-left-bottom {
    background: url('/images/st/grey-button/left-bottom-straight.png') bottom left no-repeat;
    margin: 0;
}
.button-straight-right-bottom {
    background: url('/images/st/grey-button/right-bottom-straight.png') bottom right no-repeat;
    margin: 0;
}
.button-content {
    font-size: 90%;
}
.button-content a {
    display: block;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Helvetica, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

/* Personal Homepage */

#st-homepage {
    background: white url("/images/st/homepage/blue-fade.gif") top left no-repeat;
}

#st-homepage-layout {
    margin-top: 15px;
    clear: both;
    width: 100%;
    border-collapse: collapse;
}

#st-homepage-layout tr td.st-homepage-layout-cell {
    padding: 5px;
    vertical-align: top;
}

#st-homepage-layout-dashboard {
    width: 60%;
}

#st-homepage-layout-notes {
    width: 40%;
}

#st-homepage-notes, #st-homepage-dashboard {
    text-align: left;
    width: 95%;
}

#st-user-greeting, #st-wiki-title {
    font-family: Helvetica, Verdana, sans-serif;
}
#st-wiki-title {
    margin-left: 5px;
    font-size: 200%;
}

#st-user-greeting {
    font-size: 140%;
    text-align: right;
    float: right;
}

#st-group-notes-content, #st-personal-notes-content {
}

.st-homepage-section {
    margin-bottom: 15px;
}

#st-homepage-notes .st-homepage-section {
    background-color: white;
    border: 1px solid #aaa;
    padding: 15px;
}

.st-homepage-section-title {
    font-size: 110%;
    font-family: Helvetica, Verdana, sans-serif;
}

#st-homepage-notes .st-homepage-section-title {
    color: #aaa;
    text-decoration: underline;
}

.st-homepage-notes-edit-link {
    background: url("/images/st/homepage/edit-icon.gif") no-repeat left top;
    display: block;
    text-indent: -2000px;
    height: 13px;
    width: 45px;
    margin-right: -10px;
    margin-top: -10px;
    text-decoration: none;
}

.st-homepage-notes-edit {
    font-family: Verdana, sans-serif;
    font-size: 65%;
    float: right;
}

.st-homepage-notes-content {
    font-size: 85%;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Verdana, Helvetica, sans-serif;
}

#st-dyk {
    border-color: #cca !important;
    background-color: #ffe !important;
}

#st-dyk-title {
    color: #e4a020 !important;
    text-decoration: none !important;
}


/* Homepage Simple List */

#st-whats-new-title-link {
    background: url("/images/st/homepage/icon-28-pages.gif") no-repeat left top;
}
#st-watchlist-title-link {
    background: url("/images/st/homepage/icon-28-star.gif") no-repeat left top;
}
#st-wikis-title-link {
    background: url("/images/st/homepage/icon-28-group.gif") no-repeat left top;
}
.st-homepage-simplelist-title-link {
    display: block;
    padding-left: 32px;
    min-height: 32px;
}

.st-homepage-simplelist-title {
}

.st-homepage-simplelist-table {
    margin-left: 25px;
    border: 1px dashed #ddd;
    border-collapse: collapse;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 80%;
    width: 100%;
}

.st-homepage-simplelist-table td {
    padding: 2px;
}

.st-homepage-simplelist-table tr.st-homepage-simplelist-row-odd {
    background-color: #f3f7f7;
}

.st-homepage-simplelist-table tr.st-homepage-simplelist-row-even {
    background-color: white;
}

.st-homepage-simplelist-table a {
    color: #4f55dd;
    text-decoration: none;
}

.st-homepage-simplelist-right {
    width: 20%;
}

.st-homepage-simplelist {
}

.st-homepage-simplelist-header {
    min-height: 35px;
}

.st-homepage-simplelist-header .button-table {
    float: right;
    margin-right: 15px;
    font-size: 95%;
}

.st-homepage-simplelist-header .button-table .button-content {
    padding: 1px;
}

/* Homepage Wikis List */

#st-wikis-title {
}

/* Wikitext Styling */

.wiki {
}

.wiki hr {
    margin-top: .4em;
    margin-bottom: .4em;
}

.wiki .short-rule {
    width: 25%;
}

.wiki .medium-rule {
    width: 50%
}

.wiki ul,
.wiki ol,
.wiki blockquote {
    margin-left: 2em;
    padding-left: 0em;
}

.wiki table {
    border-collapse: collapse;
}

.wiki td {
    border: 1px;
    border-style: solid;
    padding: .2em;
    vertical-align: top;
}

.wiki h1,
.wiki h2,
.wiki h3,
.wiki h4,
.wiki h5,
.wiki h6 {
    font-weight: bold;
    font-style: normal;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.wiki h1 {font-size: 200%;}
.wiki h2 {font-size: 170%;}
.wiki h3 {font-size: 145%;}
.wiki h4 {font-size: 125%;}
.wiki h5 {font-size: 110%;}
.wiki h6 {font-size: 100%;}

.wiki pre {
    background-color: #eee; /* XXX */
    margin-left: 1em;
    margin-right: 1em;
    padding: .2em;
}

.wiki .incipient {
    text-decoration: none;
    border-bottom: 1px dashed;
}

/* Data and Templates */

.st-jst-template, .st-json {
    display: none;
}

/* Page Sidebox Common Styles */

#st-page-boxes {
    float: right;
    width: 25%;
    margin-left: 15px;
}

.st-page-box {
    border: 1px solid black;
    padding: 5px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 80%;
    margin-bottom: 15px;
}

.st-page-box-title {
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.st-page-box-listing {
    margin: 0;
    padding: 0;
}

.st-page-box-listing-entry {
    display: block;
}

/* Page Display */

#st-page-content {
    margin-top: 15px;
}

#st-page-content, #st-page-content td {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 90%;
}

#st-page-title {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #888;
    border-bottom: 1px solid #888;
    margin-bottom: 0.6em;
}

#st-page-details {
    font-style: italic;
    font-size: 75%;
    font-family: Georgia, serif;
    margin-left: 10px;
    margin-right: 10px;
}

#st-page-stats {
    float: right;
}

/* Page View Tags/Incoming Links Sidebox */

#st-tags {
    background: #f4fff4;
    border-color: #bbeebb;
    color: #999;
}

#st-tags-title {
    color: #595;
}

#st-tags-addlink, #st-tags-addbutton {
    font-weight: bold;
}

#st-tags-listing {
    margin-bottom: 5px;
}

#st-tags-addinput, #st-tags-message, #st-tags-suggestion {
    display: none;
}

#st-tags-deletemessage {
    font-size: 90%;
    color: #555;
    display: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#st-tags-suggestion {
    margin-top: 2px;
}

.st-tags-level1 {
    font-size: 90%;
}

.st-tags-level2 {
    font-size: 100%;
}

.st-tags-level3 {
    font-size: 110%;
}

.st-tags-level4 {
    font-size: 120%;
}

.st-tags-level5 {
    font-size: 130%;
}

.st-tags-tagline .st-tags-tagdelete {
    text-decoration: none;
    color: #ccc;
}

.st-tags-tagline a {
    text-decoration: none;
    color: inherit;
}

#st-tags-field {
    width: 95%;
}

#st-incoming-links {
    border-color: #ebb;
    background-color: #fff4f4;
}

#st-incoming-links-title {
    color: #b78;
}

#st-attachments {
    border-color: #bbe;
    background-color: #f4f4ff;
}

#st-attachments-uploadbutton, #st-attachments-managebutton {
    font-weight: bold;
}
#st-attachments-buttons-uploadbutton {
    margin: 0px;
    padding: 0px;
    padding-left: 2px;
}
#st-attachments-buttons-managebutton {
    margin: 0px;
    padding: 0px;
    padding-right: 2px;
}

#st-attachments-buttons td {
    font-size: 99%;
    width: 50%;
}

#st-attachments-buttons {
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}

#st-attachments-title {
    color: #77b;
}

/* Actions Bar */

#st-actions-bar {
    min-height: 20px;
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-top: 5px;
}

/* Footer */
#st-footer {
    margin-top: -8px;
    margin-bottom: 5px;
    clear: both;
}

/* Page Actions */

#st-pagetools {
    float: right;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 80%;
    margin-top: 8px;
    color: #000;
}

#st-pagetools a {
    text-decoration: none;
    color: inherit;
    margin-left: 15px;
    padding-left: 15px;
}

#st-edit-button-border-left-middle {
    background: url("/images/st/edit-button/left-middle.gif") left top repeat-y;
}
#st-edit-button-border-right-middle {
    background: url("/images/st/edit-button/right-middle.gif") right top repeat-y;
}

#st-edit-button-border-left-top {
    background: url("/images/st/edit-button/left-top.gif") left top no-repeat;
}
#st-edit-button-border-right-top {
    background: url("/images/st/edit-button/right-top.gif") right top no-repeat;
}

#st-edit-button-border-left-bottom {
    background: url("/images/st/edit-button/left-bottom.gif") left bottom no-repeat;
}
#st-edit-button-border-right-bottom {
    background: url("/images/st/edit-button/right-bottom.gif") right bottom no-repeat;
}

#st-edit-button-link {
    background-image: url("/images/st/edit-button/icon-edit.gif");
}


#st-comment-button-border-left-middle {
    background: url("/images/st/comment-button/left-middle.gif") left top repeat-y;
}
#st-comment-button-border-right-middle {
    background: url("/images/st/comment-button/right-middle.gif") right top repeat-y;
}

#st-comment-button-border-left-top {
    background: url("/images/st/comment-button/left-top.gif") left top no-repeat;
}
#st-comment-button-border-right-top {
    background: url("/images/st/comment-button/right-top.gif") right top no-repeat;
}

#st-comment-button-border-left-bottom {
    background: url("/images/st/comment-button/left-bottom.gif") left bottom no-repeat;
}
#st-comment-button-border-right-bottom {
    background: url("/images/st/comment-button/right-bottom.gif") right bottom no-repeat;
}

#st-comment-button-link {
    background-image: url("/images/st/comment-button/icon-comment.gif");
}

.st-page-action-button-link {
    background-position: 12px 3px;
    background-repeat: no-repeat;
    min-height: 24px;
    padding-right: 16px;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 90%;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
    padding-top: 7px;
    padding-bottom: 0px;
    padding-left: 35px;
}

.st-page-action-button {
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    min-height: 20px;
    border-collapse: collapse;
}

/* Attach File Interface */

#st-attachments-attachinterface {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url("/images/st/popup/bg.png"); /* Don't forget IE hack for ship! */
    z-index: 2000;
}

#st-attachments-attach-interface {
    background-color: #fff;
    color: #000;
    border: 4px solid #ccc;
    padding: 1em;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#st-attachments-attach-formtarget {
    width: 0px;
    height: 0px;
    border: 0;
    padding: 0;
    margin: 0;
}

#st-attachments-attach-title {
    font-weight: bold;
    font-size: 120%;
}

#st-attachments-attach-close {
    float: right;
    font-weight: bold;
}

#st-attachments-attach-submit {
    font-size: 90%;
    float: right;
}

#st-attachments-attach-filename {
    font-size: 90%;
}

#st-attachments-attach-uploadmessage {
    font-weight: bold;
    margin-bottom: 1em;
    display: none;
}

#st-attachments-attach-error {
    font-weight: bold;
    color: #f00;
    margin-bottom: 1em;
    display: none;
}

#st-attachments-attach-list {
    color: #666;
    font-size: 90%;
    margin-top: 1em;
}

/* Lists */

tr.w-st-even-row, tr.w-st-even-row td {
    background-color: #f3f7f7;
}

.query-results-header-title, .query-results-header-last-edit-by {
    text-align: left;
}


.query-results-row-revisions {
    text-align: right;
}

.query-results-content {
  font-size: 85%;
  border-collapse: collapse;
  border: 1px dashed #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.query-results-row {
  border-collapse: collapse;
  border: 1px dashed #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.query-results-row a {
  text-decoration: underline !important;
  color: #00f !important;
}

.query-results-row td {
  font-family: Verdana;
  padding: 0.3em;
  border-left: 1px dashed #ddd;
  border-right: 1px dashed #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.query-results-header-row {
  border-collapse: collapse;
  border: 1px dashed #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.query-results-header-row a {
  text-decoration: underline !important;
  color: #00f !important;
}

.query-results-header-row th {
  font-family: Helvetica;
  padding: 0.3em;
  border-left: 1px dashed #ddd;
  border-right: 1px dashed #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

div.st-actionbutton {
    float: left;
}

div#st-actions-bar {
    clear: both;
    margin: 0.8em 20px 0.2em auto;
    padding: 0;
}

/* Manage File Interface */


#st-attachments-manageinterface {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url("/images/st/popup/bg.png"); /* Don't forget IE hack for ship! */
    z-index: 2000;
}

#st-attachments-manage-interface {
    background-color: #fff;
    color: #000;
    border: 4px solid #ccc;
    padding: 1em;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#st-attachments-manage-filetable {
    height: 150px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    border: 1px solid #ccc;
}

#st-attachments-manage-filelisting tbody td {
    font-size: 90%;
}
#st-attachments-manage-filelisting {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    margin: 0;
    padding: 0;
}

#st-attachments-manage-fileheader {
    background: #ccc;
    font-weight: bold;
    border-bottom: 1px black solid;
}

#st-attachments-manage-close {
    float: right;
    margin-top: 3px;
    margin-right: -2px;
    font-weight: bold;
}

#st-attachments-manage-delete {
    margin-top: 3px;
    float: left;
    font-weight: bold;
}

.st-attachments-manage-filerow {
    border-bottom: 1px solid #ccc;
}

.row-odd {
    background-color: #eee;
}

.row-even {
    background-color: #fff;
}

.row-on {
    background-color: #009 !important;
    color: white !important;
}

.row-on a {
    color: #fff !important;
}

#st-attachments-manage-deletemessage {
    color: red;
}

/* Page tools icons */

#st-pagetools-print {
    background: url("/images/st/pagetools/print.gif")
      left center no-repeat;
}

#st-pagetools-email {
    background: url("/images/st/pagetools/email.gif")
      left center no-repeat;
}

#st-pagetools-tools {
    background: url("/images/st/pagetools/tools.gif")
      left center no-repeat;
}

/*
 #st-pagetools-watch {
    background: url("/images/st/pagetools/watch-blue.gif")
      left center no-repeat;
}
*/


/* *********** Settings *********** */

  #settings-pane {
}
* html #settings-pane { font-size: 85%;}

.settings-start-table {
}
* html .settings-start-table { font-size: 90%;}

#settings-select {
    padding: 0px 10px 10px 10px;
    vertical-align: top;
    width: 1px;

    background-color: #eff1ec;
    border: none;
}

#settings-section {
    padding: 0px 10px 10px 10px;
    vertical-align: top;
}

.settings-top-header {
    margin-top: 1em;
    font-weight: bold;
    width: 15em;
}

.settings-header {
    margin-top: 1em;
    font-weight: bold;
}

.settings-selections {
    padding: 0px 0px 0px 20px;
    line-height: 1.5em;
}

.settings-selections a:visited, .settings-selections a:active {
    color: #0000ff;
}

.settings-link {
    clear: both;
    display: block;
}

.settings-section-left {
    text-align: right;
}

.settings-label {
    font-weight: bold;
}

.settings-help {
    color: #888;
}

.settings-comment {
}

.users-invite-message {
    padding: 0.5em 0.5em 0.5em 2em;
    background-color: #eee;
}

.workspace-entry-header {
    margin-top: .5em;
    font-weight: bold;
}

.workspace-entry {
    margin-left: 3em;
}

.workspace-entry-p {
    margin-top: .5em;
    margin-bottom: .75em;
}

.workspace-subentry {
    font-style: italic;
    font-weight: bold;
    margin-left: 1.5em;
}

.preferences-td {
    padding:.5em 0 1.5em 0;
}

.preferences-query {
    text-align: left;
}

.preference-radio {
    background-color: #cec;
}
.user-settings-listall-headings td {
    background-color: #eff3ef;
}

#settings-save {
    padding-bottom: 0.5em;
}

.standard-button-cancel {
    font-weight: bold;
    background-color: #71004b;

    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    color: #f4f3b9;
    width: 8em;
}

.standard-button-submit {
    font-weight: bold;
    background-color: #656084;

    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    color: #f4f3b9;
    width: 8em;
}

#st-settings {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 90%;
}


/*  Category List Display */

#st-category-display-links {
    margin-bottom: 1em;
    font-size: 90%;
}

#content-edit-body-textarea {
    padding: 0;
    border-style: inset;
    border-width: 1px;
    background-color: #ffffdd;
    color: black;
}
