body {
    font-family: Gill Sans, sans-serif;
    font-size: 85%;
    color: #ccc
}

/* FIXME: Use #999 for "visited" URLs */
a:link {
    color: #ccc
}

#front {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 500px;
    background-color: #239;
} 

#header {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
}

.title {
    font-size: 100%;
    color: #999
}

img#logo {
    float: right;
}

#scroll_container {
    position: absolute;
    top: 20px;
    bottom: 25px;
    left: 2px;
    right: 6px;
    overflow: hidden;
}

#front_scrolled {
    position: absolute;
    left: 0;
    top: 0;
    right: 35px;
}

.flip {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 13px;
    height: 13px;
}

#flip {
    opacity: 0;
    background:
        url(file:///System/Library/WidgetResources/ibutton/white_i.png)
        no-repeat top left;
    z-index: 8000;
}

#fliprollie {
    display: none;
    opacity: 0.25;
    background:
        url(file:///System/Library/WidgetResources/ibutton/white_rollie.png)
        no-repeat top left;
    z-index: 7999;
}

#back {
    display: none;
    /* XXX: want to make this #222, but can't get the colors to work out. */
    background-color: #222;
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 500px;
} 

#tabs {
    text-align: center;
}

.doneButton {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

#debugDiv {
    border-style: dotted;
    border-color: black;
    background: gray;
    position: absolute;
    top: 560px;
    height: 200px;
    left: 20px;
    right: 20px;
    overflow: scroll;
    display: none;
}
