<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AllowNetworkAccess</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>Socialtext Feeds</string>
    <key>CFBundleIdentifier</key>
    <string>com.socialtext.widget.feed</string>
    <key>CFBundleName</key>
    <string>Socialtext</string>
    <key>CFBundleVersion</key>
    <string>0.02</string>
    <key>MainHTML</key>
    <string>feeds.html</string>
<!-- More properties (all optional) -->
<!--
    <key>AllowMultipleInstances</key>
    <false/>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CloseBoxInsetX</key>
    <integer>16</integer>
    <key>CloseBoxInsetY</key>
    <integer>14</integer>
    <key>Height</key>
    <integer>126</integer>
    <key>Width</key>
    <integer>255</integer>
-->
</dict>
</plist>
